/* html elements */

a{
color:#d21034;
}

h1 {
color:#green;
font-size: 28px;
padding:10 0;
margin 0;

}

body {
background-color: #efeee7;
color: #333333;
font-family:Georgia, 'Times New Roman', Times, serif;
margin: 0;
padding: 0;

}


h2{
font-size: 24px;    
}

/* Classes */

.container{
width:1024px;
margin: 0 auto 0 auto;    
}

.header {
background-color:#333333;
text-align:center;
}

/* IDs */

#bio-image, #contact-info, #main-bio{
float:left;
}

#bio-image{
margin-right:25px;
height:200px;
width:200px;    
}

#contact-info {
width:30%;
line-height:1.5;
}

#main-bio {
width:70%;
line-height:1.5;
}
